/*  your css code here. If applicable */
body{
	background-color:#f5f5f5;
	height:100vh;
}
.header{
	background-color:#011e29;
	color:white;
	padding:10px;
	width:100%;
	text-align:center;
}
.container{
	padding-top:10px;
	display:flex;
	justify-content:space-around;
	flex-wrap:wrap;
}
.latest-news-section{
	background-color:white;
	padding:10px;
	width: 20%;
	height:150px;
	border-radius:15px;
	text-align:center;
}
.main-article{
	background-color:white;
	padding:10px;
	width: 50%;
	border-radius:15px;
	text-align:center;
	height:400px;
}
.pictorial-news-section{
	background-color:white;
	padding:10px;
	width: 20%;
	border-radius:15px;
	text-align:center;
	display:flex;
	flex-direction:column;
	content:cover;
	gap:2px;
	justify-content:center;
	align-items:center;
}
img{
	height:150px;
	width:150px;
	
}
h2,h3{
	font-weight:bold;
}